:root {
  --header-height: 80px;
  --intro-extra-space: 200px;
}

* {
  font-family: "Celinda";
}

body {
  margin: 0;
}
.browserRouter {
  position: absolute;
  left: -999em;
}
main {
  display: grid;
  grid-template-rows: 0.2fr 0.1fr 2fr;
  grid-template-columns: 1fr 1fr 0.5fr;
  grid-template-areas:
    "header header header"
    "nav nav nav"
    "div div div"
    "article article section"
    "footer footer footer";
  margin: 0;
}
header {
  grid-area: header;
  background-color: #fbf6ef;
  text-align: center;
  line-height: 5rem;
  font-size: xx-large;
}
button {
  border: 0px;
  background-color: transparent;
  line-height: 3rem;
  font-size: large;
  transition: 150ms ease;
}
button:hover {
  color: wheat;
  border: 2px solid wheat;
  font-size: larger;
}
nav {
  grid-area: nav;
  background-color: #77625c;
  display: flex;
  justify-content: space-evenly;
}

#introduction {
  grid-area: div;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: -1;
  background-image: url("./assets/img/introduction.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #f5e6c8;
  font-size: xx-large;
  text-align: center;
  padding-top: 144px;
  box-sizing: border-box;
}
#introduction > h1,
h3 {
  padding: 40px 40px 40px 40px;
}
article {
  grid-area: article;
  background-color: #ead7ce;
  font-size: 30px;
  overflow-y: scroll;
  margin-top: calc(100vh - (var(--header-height) + var(--intro-extra-space)));
}
#nav-bar {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
#search {
  height: 2rem;
}
section {
  grid-area: section;
  background-color: #d4c4bc;
  margin-top: calc(100vh - (var(--header-height) + var(--intro-extra-space)));
}
footer {
  grid-area: footer;
  background-color: #5a5958;
  color: rgba(248, 227, 227, 0.5);
  text-align: center;
  line-height: 4rem;
  font-size: xx-large;
}
@font-face {
  font-family: "Celinda";
  src: url(./assets/fonts/Celinda.otf);
}
#phone {
  display: none;
}

@media (max-width: 768px) {
  main {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 1fr;
    grid-template-areas:
      "header "
      "nav"
      "section"
      "article"
      "footer";
    height: 100vh;
    margin: 0;
  }
  header {
    grid-area: header;
    background-color: #fbf6ef;
    text-align: center;
    line-height: 3rem;
    font-size: x-large;
  }
  #phone {
    display: flex;
    background-color: #77625c;
    justify-content: center;
  }
  #navOnPhone {
    display: flex;
    grid-area: nav;
    border: transparent 0px;
  }
  nav {
    display: none;
  }
  button {
    border: 0px;
    background-color: transparent;

    line-height: 2.5rem;
    font-size: medium;
  }
  #search {
    width: 80%;
  }
  section {
    grid-area: section;
    background-color: #d4c4bc;
    overflow-y: scroll;
  }
  article {
    grid-area: article;
    background-color: #ead7ce;
    font-size: medium;
    overflow-y: scroll;
    height: 100%;
  }
  footer {
    grid-area: footer;
    background-color: #5a5958;
    color: rgba(248, 227, 227, 0.5);
    text-align: center;
    line-height: 2.5rem;
    font-size: large;
  }
}
